@using ElProApp.Web.ViewModels.Employee;
@using ElProApp.Web.ViewModels.Team;
@model EmployeeViewModel

<h2>Информация за служител </h2>

<p><strong>Име:</strong> @Model.FirstName</p>
<p><strong>Фамилия:</strong> @Model.LastName</p>
<p><strong>Дневно възнаграждение:</strong> @Model.Wages лв</p>
<p><strong>Заработка:</strong> @Model.MoneyToTake лв</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Име на екип</th>
        <th>Информация за служител</th>
    </tr>
    </thead>
    <tbody>
    @foreach (TeamViewModel team in Model.TeamMapping)
    {
        <tr>
            <td>@team.Name</td>
            <td>
                <a asp-controller="Team" asp-action="Details" asp-route-id="@team.id" class="btn btn-info">Детайли</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Назад</a>
<a asp-action="Index" class="btn btn-primary">Назад към списък със служители</a>
<a asp-controller="Team" asp-action="Index" class="btn btn-primary">Назад към списък с екипи</a>