@using ElProApp.Web.ViewModels.Building;
@using ElProApp.Web.ViewModels.Team;
@model BuildingViewModel

<h2>Информация за обекта </h2>

<p><strong>Име:</strong> @Model.Name</p>
<p><strong>локация:</strong> @Model.Location</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Име на екип</th>
            <th>Информация за екип</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TeamViewModel team in Model.TeamMapping)
        {
            <tr>
                <td>@team.Name</td>
                <td>
                    <a asp-controller="Team" asp-action="Details" asp-route-id="@team.id" class="btn btn-info">Детайли</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Назад</a>
<a asp-action="AddTeamToBuilding" asp-route-id="@Model.Id" class="btn btn-primary">Добави екип</a>

