@using ElProApp.Web.ViewModels.Team

@model AddEmployeeToTeamInputModel

<h2>Add Employees to Team: @Model.TeamName</h2>

<form asp-action="AddToTeam">
    <input type="hidden" name="teamId" value="@Model.Id" />

    <div>
        @foreach (var employee in Model.Employees)
        {
            <div>
                <label>
                    <input type="checkbox" name="employeeIds" value="@employee.Id" />
                    @employee.EmployeeFirstName @employee.EmployeeLastName
                </label>
            </div>
        }
    </div>

    <button type="submit">Submit</button>
</form>
